doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    title= app_name
  body
    .container
      h1= app_name
      h3 a url shortener

      #urls(data-app-url=app_url)

    script(src="/static/bundle.js")
