doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    title= app_name
  body
    .container
      h1= app_name
      h3 a url shortener

      button#show-about More info &dtrif;

      .about

        p.

          URLs can be submitted as a #[code GET] or #[code POST] request.
          #[code POST] content type can be
          #[code application/x-www-form-urlencoded] (vanilla form),
          #[code multipart/form-data] (FormData API),
          or #[code applicatin/json].

        p Here are some examples.

        ul
          li: code #{app_url}/new?url=https://www.example.com/
          li: code curl -H 'Content-Type: application/json' -X POST -d '{"url": "https://www.example.com/"}' #{app_url}/new
          li: pre: code= "<form action=\"" + app_url + "/new\" method=\"post\">\n  <input type=\"url\" name=\"url\" />\n  <button type=\"submit\">Get Short URL</button>\n</form>"

      #urls

    script(src="/static/bundle.js")
