doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    title micurl
  body
    .container
      h1 micurl
      form(action="/new/", method="post")
        .row
          label(for="original_url") Long URL
          input.u-full-width#original_url(type="url", name="url", placeholder="https://www.example.com", autofocus)
        button.button-primary(type="submit") Get Short URL

      #short_urls
